
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    min-height: 100%;
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

.img{
    /*To set image in center*/
    display: block;
    margin: auto;
    width: 85%;

    /*______________________*/

    
    border-radius:3%;
}

.design{
   width:30%;
   margin: auto;
   background-color: white;
   margin: 10% auto;
   padding-top: 2.5%;
   padding-bottom: 4%;
   text-align: center;

   border-radius: 4%;
   font-family: 'Outfit', sans-serif;

}


body{
    background-color: hsl(212, 45%, 89%);
}

#para-text{
    color: hsl(212, 45%, 89%);
}
